<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good day, <%= @user.first_name %>!</h1>
    <p>
      Click <%= link_to 'this link', @url %> to login.
    </p>
    <p>Happy Chatting,</p> 
    <p> - The LitChat Team</p>
  </body>
</html>